<!DOCTYPE html>

<head>
    <title>
        Nova anketa
    </title>
</head>

<body>
  <p> kle se bo začela nova anketa</p>
  <!--
  <ul>
      {% for question in seznam_akt_vprasanj %}
          <li> {{ question.text }} </li>
          {% for answer in answers %}
              {% if question.text == answer.question.text %}
                  <p>  {{ answer.text }} </p>
              {% endif %}
          {% endfor %}
      {% endfor %}
  </ul>
  -->

  <div>
      <p>-----kle spobavam paginator tko mal na iziaveš----</p>
      <p>debugging Page object</p>
      <p>page_obj: {{ page_obj }}</p>
      <p>page_obj.has_next(): {{ page_obj.has_next }}
      <p>page_obj.start_index(): {{ page_obj.start_index }}
      <p>page_obj.end_index(): {{ page_obj.end_index }}
      <p>konc debugginga</p></br>

      {% for v in page_obj %}
          <p>Vprasanje: {{ v.text }}</p>
          <ul>
          {% for a in related_answers %}
              <li>{{ a }}</li>
          {% endfor %}
          </ul>
      {% endfor %}
      {% if page_obj.has_next %}
          <p> link na naslednji page, ce obstaja <a href="{% url 'nova_anketa' %}?page={{ page_obj.next_page_number }} ">link</a></p>
      {% endif %}
  </div>
</body>
